:root {
    --C_0: #000018;
    --C_1: #292D49;
    --C_2: #262B48;
    --C_3: #CADBF3;
    --C_4: #FFFEFC;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    min-width: 320px;
}

body {
    font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
}